<h3>Display User Information</h3>

<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="font-weight-bold h4">Name: <%= current_user.name %></div>
  <div  class="font-weight-bold h4">Email: <%= current_user.email %></div>
  <div  class="font-weight-bold h4">User_type: <%= current_user.user_type%> </div>
</div>
